In [ ]:
#  1 What is python

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.
data analytics

# 2  Software requirement
 Anaconda Navigator Jupiter notebook or you can use Google collab instead

# 3 Creating Variables, Operators

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

 # 4 Python Data Types
   In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

You can get the data type of any object by using the type() function:

#  5  Python If ... Else, For loop , While loop

Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b


A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).



With the while loop we can execute a set of statements as long as a condition is true.

# 6  Python Functions

A function is a block of code which only runs when it is called.

Creating a Function
In Python a function is defined using the def keyword:

# 7 Python Lists


Lists are used to store multiple items in a single variable.

Lists are created using square brackets:

# 8 Some smart tricks using python

date,random Math, Creating emoji

# Creating variabels

In [1]:
x =  5
x

5

In [2]:
x = 5
print(x)

5

In [4]:
x= 5
y = "smith"
print(x , y)

5 smith

In [7]:
x= 5
y = "smith"
z = 3.5
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
x,y,z = (2,4.7,"john")
print(x,y,z)

2 4.7 john

# global variables

In [17]:
x = "water"
def myfunc():
    print("tasteless substance is " + x)
myfunc()

tasteless substance is water

# operators

In [12]:
5+5

10

# indentation

In [11]:
if 7>2:
    print("hello")

hello

# data types

In [21]:
x = ("1,2,3,4,5,6,7,8,9")
print(type(x))

<class 'str'>

# if else

In [28]:
a = 55
b = 70
if a > b:
    print("this is correct")
else:
    print("by by")

by by

 # elif

In [33]:
a = 77
b = 90
if b > a:
    print("b ig greater")
elif a==b:
    print("both a and b are equal")

b ig greater

# Else

In [37]:
a = 20 
b = 200
if b>a:
    print("hello")
elif a == b:
    print(" both values are equal")
else:
    print("a is greater than b")

hello

# While loop

In [6]:
i = 5
while i <15:
    print(i)
    i+= 5

5
10

# break ststement

In [2]:
i = 1
while i<6:
    print(i)
    if 1== 5:
        break
    i+=1

1
2
3
4
5

 # continue ststement

In [2]:
i = 1
while i<6:
    print(i)
    if 1== 5:
        break
    i+=1

1
2
3
4
5

In [7]:
i = 0
while i < 6:
    i+= 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6

# For loop

In [9]:
sports = ["Cricket", "basketball", "football"]
for x in sports:
    print(x)

Cricket
baskeball
football

In [12]:
for x in "mangoes":
    print(x)

m
a
n
g
o
e
s

# break

In [21]:
sports = ["Cricket", "basketball", "football"]
for x in sports:
    print(x)
    if x == "basketball":
        break

Cricket
basketball

# continue

In [23]:
sports = ["Cricket", "basketball", "football"]
for x in sports:
    if x == "basketball":
        continue
    print(x)

Cricket
football

# range

In [24]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [28]:
for x in range(2,100,10):
    print(x)

2
12
22
32
42
52
62
72
82
92

# creating  function

In [32]:
def my_function():
    print("summer is very hot season")
my_function()

summer is very hot season

In [34]:
def my_function(fname):
    print(fname +" are sweet")
my_function("mangoes")
my_function("watermelon")
my_function("bananas")

mangoes are sweet
watermelon are sweet
bananas are sweet

# lists in python

In [37]:
mylist = ["sports", "movies", "Study"]
mylist

['sports', 'movies', 'Study']

In [42]:
mylist = ["sports", "movies", "Study"]
print(type(mylist))

<class 'list'>

In [41]:
list1 = ["sports", "movies", "Study"]
list2 = [1,2,3,4,8,5,6]
list3  = ['mangoes,banana, tree, true, false']
print(list1)
print(list2)
print(list3)

['sports', 'movies', 'Study']
[1, 2, 3, 4, 8, 5, 6]
['mangoes,banana, tree, true, false']

# Tricks

In [4]:
import calendar
print(calendar.month(2021,3))

     March 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [9]:
import calendar
print(calendar.calendar(9999999999))

                               9999999999

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

# Creating emojies

In [11]:
print("\U0001f600 smile")

😀 smile

In [19]:
print("\U0001f600 smile")
print("\U0001F606 laugh")
print("\U0001F923 cry laugh")
print("\U0001F618 fly kiss")
print("\U0001F917 hug")
print("\U0001F62A tired")

😀 smile
😆 laugh
🤣 cry laugh
😘 fly kiss
🤗 hug
😪 tired

# datetime

In [21]:
import datetime
x = datetime.datetime.now()
print (x)

2021-06-02 13:40:52.373779

In [23]:
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.strftime('%A'))

2021
Wednesday

# random

In [32]:
import random

random.seed(7000)
print(random.random())

0.32245340231603203